{% extends 'partials/base2.html' %}

{% load static %}

<title>{% block titulo %} Listagem de Cadastros {% endblock %} </title>

        {% block conteudo %}
        <div class="d-flex bd-highlight mt-2 mb-3">
            <div class="p-2 bd-highlight">
                <h3>Listagem de Cadastros</h3>
            </div>
            <div class="ml-auto p-2 bd-highlight">
                <a class="btn" style="background-color:#0d6efd;" href="{% url 'Listagem_Aluno' %}">
                    <i class="fas fa-plus"></i>
                    Novo Cadastro
                </a>
            </div>
          </div>

            <div class="bg-white p-4 rounded">
                <table class="table table-bordered table-hover align-middle" id="dataListagens" width="100%" cellspacing="0">
                    
                    <thead class="" >                        
                        <tr class="table-secondary text-dark">
                            <th class="text-center">Nome</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Curso</th>
                            <th class="text-center">Universidade</th>
                            <th class="text-center">Lattes</th>
                            <th class="text-center">Git</th>
                            <th class="text-center">Observacao</th>                                                                       
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for item in object_list %}    
                        <tr>
                            <td scope="row " class="text-center align-middle">{{ item.nome }}</td>
                            <td class="text-center align-middle">{{ item.email }}</td>
                            <td class="text-center align-middle">{{ item.curso }}</td>  
                            <td class="text-center align-middle">{{ item.universidade }}</td>
                            <td class="text-center align-middle" >
                                <a href="{{ item.lattes }}" class="btn btn-primary b" >
                                    Link
                                </a>
                            </td>
                
                            <td class="text-center align-middle" >
                                <a href="{{ item.git }}" class="btn btn-primary b" >
                                    Link
                                </a>
                            </td>
                            <td class="text-center align-middle">{{ item.observacao }}</td>                     

                            <td class="text-center  p-2 align-middle">       
                                     
                                <div class="d-flex flex-row bd-highlight">
                                    <div class=" pr-1 bd-highlight">
                                        <a href="#" class="element btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Sobre">
                                            <i class="fas fa-list-ul " ></i>
                                        </a>
                                    </div>
                                    <div class=" pr-1 bd-highlight">
                                        <a href="{% url 'update' item.pk %}" class=" element btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                    <div class=" pr-1 bd-highlight">
                                        <button  class=" btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa fa-trash " aria-hidden="true"></i>
                                        </button> 
                                    </div>
                                </div>                            

                            </td>
                        </tr>
                                            
                        {% empty %}
                        
                            Nada foi registrado
                        
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    
                    <div class="modal-footer">
                        <input class="save btn btn-danger" type="submit" value="Sim" data-dismiss="modal" delete>
                            
                        
                            {% comment %} <button type="submit" class="save btn btn-danger" data-dismiss="modal">sim</button>
                               
                        <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>

        {% endblock %}
