{% extends 'partials/base.html' %}

{% load static %}
 
<title>{% block titulo %} Deletar {% endblock %} </title>
      
        {% load crispy_forms_tags %}
        {% block conteudo %}

            <div class="p-2 bd-highlight">
                <h3>Excluir cadastro</h3>
            </div>
            <br>
            <p>Deseja excluir o cadastro? </p>
            <div id class="bg-white p-4 rounded"> 
                <br> Nome do Grupo: <b> {{ object.grupo }} </b> 
                <br> Projeto: <b> {{ object.projeto }} 
            
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-left p-2">
                        <button type="submit" class="save btn btn-danger">Confirmo exclusão</button>
                        <a class="btn btn-secondary"  href="{% url 'listagem' %}">
                            <i class="fas fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>     
               </form>
            </div>
        {% endblock %}
     
  
