{% load static %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-1 static-top shadow">

    <!-- BOTÃO HAMBURGUER -->
    <div class="border-right">

        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-2">
            <i class="fa fa-bars"></i>
        </button>
        
    </div>

    <!-- TOP BAR -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

        <div class="input-group ml-3">
            {{email}}
        </div>

    </form>

    <!-- TOP BAR NAVBAR -->
    <ul class="navbar-nav ml-auto">
        <!-- NAV ITEM -->
        <li class="nav-item dropdown no-arrow">

            <a class="nav-link dropdown-toggle border-left" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nome}}</span>
                <img class="img-profile rounded-circle" src={% static "img/undraw_profile.svg" %}>
            </a>

            <!-- Dropdown -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <a class="dropdown-item" href="{% url 'usuario:login' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                </a>

                <hr>

                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                </a>

            </div>
        </li>

    </ul>

</nav>