{% extends 'partials/base2.html' %}

{% block titulo %} Extensões - UFAC {% endblock %}

{% load static %}


{% block conteudo %}
    <h4 class="my-3"> Conteúdo</h4>
    <div class="bg-white p-3 m-auto">
              
        
        <p class="h6">Todos os projetos utilizaram o mesmo Template - 
            <a class="btn btn-primary" href="http://apps-proex.ufac.br/grupos/templateBase.rar">Template</a>
        </p>
        
        <p> GIT para projetos colaborativos:&nbsp;</p>

        
        <ol>
            <li>Tutoriais - &nbsp;<a class="btn btn-primary" href="https://www.youtube.com/watch?v=MhutWNbdftE&amp;list=RDCMUCfLKJox9Gd5V57_0kzq-jKQ&amp;start_radio=1&amp;rv=MhutWNbdftE&amp;t=18" target="_blank">GIT</a></li>
        </ol>
        
        <p>Sites para estudo:</p>
        
        <ol>
            <li><a href="https://www.geeksforgeeks.org/django-form-field-custom-widgets/?ref=lbp" target="_blank">Django Forms</a></li>
            <li><a href="https://www.geeksforgeeks.org/datefield-django-forms/?ref=lbp" target="_blank">DataField Django</a></li>
            <li><a href="https://github.com/rodrigoamaral/django-fullcalendar" target="_blank">Django Fullcalendar</a></li>
            <li><a href="https://github.com/nhn/tui.calendar?hmsr=joyk.com&amp;utm_source=joyk.com&amp;utm_medium=referral" target="_blank">Super Calendar</a></li>
        </ol>
        
        <p>Videos das aulas</p>
        
        <ol>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yi6jXuxb7bc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            <li>Parte 02: <a href="https://youtu.be/7Xcn6znmG2o" target="_blank">Model, view e urls</a></li>
            <li>Parte 03: <a href="https://www.youtube.com/watch?v=WIqC3WoV6gc" target="_blank">Editar e Excluir</a></li>
            <li>Template:&nbsp;<a href="https://www.youtube.com/watch?v=jSpx2t__Iv0" target="_blank">Inserir template</a></li>
        </ol>
        
        <p>&nbsp;</p>
        
        <p>Estudos avançados</p>
        
        <ol>
            <li>Criar seu site FREE -&nbsp;<a href="https://www.pythonanywhere.com/" target="_blank">https://www.pythonanywhere.com/</a></li>
            <li>Fiz uns testes e funcionou</li>
            <li>Se você tiver mais um pouquinho de paciência pode seguir o tutorial abaixo e subir um projeto seu:</li>
            <li><a href="https://www.youtube.com/watch?v=f6PVDxCB08A&amp;t=700s" target="_blank">Tutorial como fazer deploy de um projeto Django usando Heroku [Python + Django + Heroku]</a></li>
        </ol>
    </div>


{% endblock %}